services:
    db:
        image: postgres:14-alpine
        container_name: postgres-db
        ports:
            - '5432'
        volumes:
            - db_data:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        networks:
            - default
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}',
                ]
            interval: 10s
            timeout: 5s
            retries: 5
        restart: unless-stopped

    migrate:
        image: postgres:14-alpine
        depends_on:
            db:
                condition: service_healthy
        volumes:
            - ./scripts:/app/scripts
            - ./src/database/migrations:/app/src/database/migrations
            - ./.env:/app/.env:ro
        working_dir: /app
        entrypoint:
            [
                'sh',
                '-c',
                'apk add --no-cache bash dos2unix && dos2unix ./scripts/migrate/up.sh && bash ./scripts/migrate/up.sh',
            ]
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_HOST: db
            POSTGRES_PORT: 5432
        networks:
            - default

    next-app:
        build:
            context: .
            dockerfile: Dockerfile
        image: cicompoverflow/cicompoverflow:v${APP_VERSION}
        container_name: next-app
        ports:
            - '3000'
        depends_on:
            - db
            - migrate
            - redis
        env_file:
            - .env
        environment:
            DATABASE_URI: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        networks:
            - default
        restart: unless-stopped

    redis:
        image: redis:8.2.2-alpine
        ports:
            - '6379'
        environment:
            REDIS_PASSWORD: ${REDIS_PASSWORD}
        command: ['sh', '-c', 'redis-server --requirepass "$REDIS_PASSWORD"']
        restart: unless-stopped

    proxy:
        image: nginx:stable-alpine3.21-perl
        ports:
            - '80:80'
        volumes:
            - ./default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - next-app
        restart: unless-stopped

volumes:
    db_data:

networks:
    default:
        driver: bridge
