@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #d8d8d8;
	--foreground: #171717;
	--primary: #004a98;
	--secondary: #00b3e3;
	--tertiary: #0083cc;
	--titles: #004a99;
	--primary: #004a98;
	--secondary: #00b3e3;
	--tertiary: #0083cc;
	--titles: #004a99;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #181a1b;
		--foreground: #e8e6e3;
		--primary: #004a98;
		--secondary: #00b3e3;
		--tertiary: #0083cc;
		--titles: #004a99;
	}
}

@layer base {
	/* * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  } */
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.tiptap {
	:first-child {
		margin-top: 0;
	}

	pre {
		background: var(--black);
		border-radius: 0.5rem;
		color: var(--white);
		font-family: 'JetBrainsMono', monospace;
		margin: 1.5rem 0;
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}

		/* Code styling */
		.hljs-comment,
		.hljs-quote {
			color: #616161;
		}

		.hljs-variable,
		.hljs-template-variable,
		.hljs-attribute,
		.hljs-tag,
		.hljs-regexp,
		.hljs-link,
		.hljs-name,
		.hljs-selector-id,
		.hljs-selector-class {
			color: #f98181;
		}

		.hljs-number,
		.hljs-meta,
		.hljs-built_in,
		.hljs-builtin-name,
		.hljs-literal,
		.hljs-type,
		.hljs-params {
			color: #fbbc88;
		}

		.hljs-string,
		.hljs-symbol,
		.hljs-bullet {
			color: #b9f18d;
		}

		.hljs-title,
		.hljs-section {
			color: #faf594;
		}

		.hljs-keyword,
		.hljs-selector-tag {
			color: #70cff8;
		}

		.hljs-emphasis {
			font-style: italic;
		}

		.hljs-strong {
			font-weight: 700;
		}
	}
}
